@use '../basics/colors' as c;
@use 'sass:color' as sc;

$base-padding : 5px;
@mixin btn_common()
{
    padding: $base-padding $base-padding*2;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}


@each $key,$value in c.$colors
{
    .button-#{$key}
    {
        background-color: $value;
        color: sc.complement($color: $value);
        @include btn_common();
    }

    @for $i from 0 to 51
    {
        .button-#{$key}-border-radius-#{$i}
        {
            background-color: $value;
            color: sc.complement($color: $value);
            border-radius: #{$i * 1%};
            @include btn_common();
        }
    }
}