@use 'sass:color' as cs;

$default-card-width :50vw;
$default-card-height :40vh;
.card
{
    background-color: white;
    box-shadow: 0 0 5px 5px gray;
    width: $default-card-width ;
    height: $default-card-height ;
    transition : all 1s ease;
    &__title
    {
        background-color : cs.invert($color: #fff);
        font-size: large;
        width: $default-card-width ;
        height: $default-card-height * 0.25 ;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        color : #fff;
    }
    &:hover
    {
        transform: scale(1.1);
    }
    &__details
    {
        color : cs.invert($color: red);
        background-color: cs.mix(red, blue, $weight: 0.7);
        font-size: large;
        width: $default-card-width ;
        height: $default-card-height * 0.75 ;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        top:0%;
    }
}