.App {
  font-family: sans-serif;
  font-size: x-large;
  display: flex;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 2%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 227, 174);
  margin: 0;
  padding: 0;
}
