:root{
    --main-color : black;
    --shadow : rgb(5, 255, 5);
    --sec-color : #ffcc00;
    /* cursor:pointer; */
}


.container
{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer
{
    box-shadow: 5px 5px 5px 5px var(--shadow);
    background-color: var(--main-color);
    display: grid;
    width: 80vw;
    height: 80vh;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(10,1fr);
    gap: 2px;  
    overflow: hidden;
    border-radius: 10%;
}

.item {
    border: 1px solid #333;
    border-radius: 5%;
    transition: all 2s ease;
    &:hover
    {
        background-color: var(--sec-color);
    }
}

.cursor-trail {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none; /* Ensures the cursor trail doesn't interfere with mouse events */
}
