.navbar {
  position: relative;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.191);
  border: 5px solid white;
  width: 48vw;
  height: 10vh;
  border-radius: 100px;
  text-decoration: none;
}

.listStyle {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.listItem {
  width: 15.5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.listItem:hover {
  color: yellow;
}

.active {
  background: white;
  color: black !important;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1439px) {
  .listStyle {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .listStyle {
    gap: 0.5rem;
  }
  .active {
    margin-left: -5px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
