$primary : rgb(0, 0, 255);
$secondary : teal;
$error : red;
$info : bisque;
$link : white;
$primary-background-color : black;
$secondary-background-color:yellow;
$button-color : rgb(255, 87, 241);
$color : black;
$box-shadow-color : gray;
$border-color : white;
$primary-navbar-color : blue;
$secondary-navbar-color : magenta;
$link-color : white;
$active-link-color:red;
$visited-link-color : blue;